<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
<body>
<div class="greeting">
    Вітаємо на нашій вікторині! Ця програма дозволить вам перевірити, наскільки добре ви знаєте столиці світу. Щоб почати тесутвання, натисніть кнопку нижче.
</div>
<div class="start"><a class="reference" href="/test1">Старт</a></div>
</body>
</html>